.bodybg{
 -fx-background-image: url('start.png');
}
.button {
    -fx-background-color:
        linear-gradient(#B0C4DE, #FFB6C1),
        radial-gradient(center 70% -40%, radius 200%, #FFB6C1 45%, #B0C4DE 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #395306;
}
.button:hover{
    -fx-background-color:
        linear-gradient(#000000, #000000),
        radial-gradient(center 70% -40%, radius 200%, #FFC0CB 50%, #DDA0DD 45%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: black;
}